
.react-supervenn-layout {
  flex: 1 0 auto;
  overflow: hidden;
  display: grid;
  grid:
      "ylabel  ycount  items " min-content
      "yticks  data    xcount" auto
      "sets    xticks  xlabel" min-content
    /  min-content auto min-content min-content
  ;
}

.react-supervenn-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}
.react-supervenn-data > div {
  flex: 1 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
.react-supervenn-data > div.react-supervenn-alternate {
  background-color: #ddd;
}
.react-supervenn-cell {
  border: 2px solid white;
  cursor: pointer;
}
.react-supervenn-cell.react-supervenn-selected {
  border: 2px solid black;
}

.react-supervenn-ylabel {
  flex: 1 0 auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.react-supervenn-xlabel {
  grid-area: xlabel;
  flex: 1 0 auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.react-supervenn-yticks {
  grid-area: yticks;
  display: grid;
  grid-auto-rows: 1fr;
}
.react-supervenn-yticks > div {
  text-align: right;
  white-space: break-spaces;
  padding: 5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: #eee;
}
.react-supervenn-yticks > div.react-supervenn-alternate {
  background-color: #ddd;
}
.react-supervenn-yticks > div.react-supervenn-selected {
  border: 2px solid black;
}

.react-supervenn-xticks {
  grid-area: xticks;
  display: flex;
  flex-direction: row;
}
.react-supervenn-xticks > div {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  cursor: pointer;
  background-color: #eee;
}
.react-supervenn-xticks > div > span {
  user-select: none;
}
.react-supervenn-xticks > div.react-supervenn-rotated {
  position: relative;
}
.react-supervenn-xticks > div.react-supervenn-rotated > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  user-select: none;
}
.react-supervenn-xticks > div.react-supervenn-selected {
  border: 2px solid black;
}

.react-supervenn-ycount {
  grid-area: ycount;
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
.react-supervenn-ycount > div {
  cursor: pointer;
  border: 2px solid white;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
}
.react-supervenn-ycount > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
}
.react-supervenn-ycount > div > div > span {
  user-select: none;
}

.react-supervenn-xcount {
  grid-area: xcount;
  display: grid;
  grid-auto-rows: 1fr;
  background-color: #eee;
}
.react-supervenn-xcount > div {
  cursor: pointer;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}
.react-supervenn-xcount > div.react-supervenn-alternate {
  background-color: #ddd;
}
.react-supervenn-xcount > div > div {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  align-items: center;
  background-color: #aaa;
}
.react-supervenn-xcount > div > div > span {
  user-select: none;
}

.react-supervenn-sets {
  grid-area: sets;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
}
.react-supervenn-sets > textarea {
  cursor: pointer;
  pointer-events: none;
  width: 100%;
  border: 2px solid #eee;
  resize: none;
  box-sizing: border-box;
  overflow-y: scroll;
}
.react-supervenn-sets > label {
  cursor: pointer;
  pointer-events: none;
  color: #666;
  white-space: nowrap;
}

.react-supervenn-items {
  grid-area: items;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
}
.react-supervenn-items > textarea {
  cursor: pointer;
  pointer-events: none;
  width: 100%;
  border: 2px solid #eee;
  resize: none;
  box-sizing: border-box;
  overflow-y: scroll;
}
.react-supervenn-items > label {
  cursor: pointer;
  pointer-events: none;
  white-space: pre;
  color: #666;
}

.react-supervenn-tooltip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: yellow;
  transform: translate(-50%, -100%) translate(0px, -10px);
  width: 16em;
  padding: 10px;
  text-align: center;
  z-index: 99;
  transition: all 50ms, opacity 200ms;
}
